/*
* @mixin display: flex 
*
*/

/*
* create custom grid on flexes
*/

@mixin customGrid($containerWidth, $itemsCount, $itemWidth, $itemClass) {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / -2);
	margin-right: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / -2);
	
	.#{$itemClass} {
		flex: 0 0 $itemWidth;
		margin-left: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / 2);
		margin-right: calc((#{$containerWidth} / #{$itemsCount} - #{$itemWidth}) / 2);
	}
}

 
