<h1 class="title">
    {{title}}
</h1>
<!--Bootstrap Container starts here-->
<div class="container">
    <div class="row">
        <!--Buttons for controlling grid-->
        <div class="control-buttons">
            <button class="btn btn-danger" (click)="createTable()">Reset</button>
            <button class="btn btn-success" (click)="saveTable()">Save</button>
            <button class="btn btn-primary" (click)="loadTable()">Load</button>
        </div>
        <!--Color pallete starts here-->
        <div class="col-md-4">
            <div class="col-md-6">
                <div class="color-palette">
                    <p class="color-pallete__title">Choose Color</p>
                    <div class="color-pallete__items">
                        <div dnd-draggable [dragEnabled]="true"
                             [dragData]="item"
                             [ngStyle]="{'background-color' : item.color}"
                             *ngFor="let item of colors"
                        >
                            {{item.name}} - {{ item.color }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Color pallete ends here-->
        <!--Grid starts here-->
        <div class="col-md-8">
            <div class="table">
                <div class="item" dnd-droppable
                     (onDropSuccess)="setColor($event,item)"
                     [ngStyle]="{'background-color' : item.color}"
                     *ngFor="let item of table"
                >
                    <p>{{item.index}}</p>
                </div>
            </div>
        </div>
        <!--Grid ends here-->
    </div>
    <div class="col-md-12">
        {{getArray()}}
    </div>
</div>
