@import "mixins/mixins";

.title {
  text-align: center;
}

.control-buttons {
  margin: 20px 0;
}

.color-palette {
  background: rgba(183, 183, 183, 0.83);
  border-radius: 12px;
  text-align: center;
  padding: 10px;
  .color-palette__items {
      display: flex;
        div {
          width: 80px;
          height:  80px;
        }
    }
}

.table {
  display: flex;
  flex-wrap: wrap;
  @include customGrid(100%, 10, 10%, item);
  div {
    height: 80px;
    border: 2px solid black;
  }
}